<% content_for :header do %>
  <h1><%= current_user.username %>'s To-Do List</h1>
<% end %>

<% content_for :vertical_nav do %>
  <ul class="nav flex-column">
    <li class="nav-item mb-3">
      <%= button_to "Create a new To-Do List", new_user_todolist_path(current_user), :method => "get", class: "btn btn-info btn-block" %>
    </li>
    <li class="nav-item mb-3">
      <%= button_to "Add a Trip", trips_path, :method => "get", class: "btn btn-info btn-block" %>
    </li>
    <li class="nav-item">
      <%= form_tag(user_trips_behind_path(current_user), method: "get") do %>
        <%= submit_tag("Trips I need to do:", class: "btn btn-warning btn-block") %>
      <% end %>
    </li>
  </ul>
<% end %>


<% content_for :content do %>
  <% if @todolists.count == 0 %>
    <p><center>You don't have any To-Do Lists! <%= link_to "Create One", new_user_todolist_path(current_user) %> to start adding trips!</center></p>
  <% else %>
    <% alphebetize(@todolists).each do |todolist| %>
      <div class="card border-info mb-3">
        <div class="card-body">
          <h5 class="card-title"><%= link_to todolist.name, user_todolist_path(current_user, todolist) %></h5>
          <p class="card-text"><%= todolist.description %></p>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

<% content_for :sidebar do %>
  <p>Favorite Trips</p>
  <% @favorites.each do |trip| %>
    <p> <%= link_to trip.title, trip_path(trip) %></p>
  <% end %>
  <%= button_to "See All of My Trips", user_trips_path(current_user), :method => "get", class: "btn btn-info" %>
<% end %>
